<?php  if (!isset($assign_to_config) && !isset($db)) exit('No direct script access allowed');

// Here are the configurations that vary from each OJ

// $assign_to_config is loaded in index.php

$assign_to_config['oj_title']				= 'Fortuna Online Judge System';

$assign_to_config['oj_name']				= "{{oj_name}}";

$assign_to_config['base_url']				= 'http://localhost/'.$assign_to_config['oj_name'];

$assign_to_config['sess_cookie_name']		= 'foj_ci_session';

$assign_to_config['cookie_path']			= "/".$assign_to_config['oj_name'];

$assign_to_config['data_path']				= "/home/judge/data/{{oj_name}}/data/";
$assign_to_config['code_path']				= "/home/judge/data/{{oj_name}}/code/";
$assign_to_config['solution_path']			= "/home/judge/data/{{oj_name}}/solution/";
$assign_to_config['problem_path']			= "/home/judge/data/{{oj_name}}/problem/";

$assign_to_config['servers']				= array('http://127.0.0.1:8389');

$assign_to_config['fetch_contest_list']		= true;

$assign_to_config['show_copyright']			= false;

$assign_to_config['miitbeian']				= '';

// Payment configs
// To enable payment, please set 'enable_payment' to 'true'

$assign_to_config['pay_uid']				= 'test';   // uid in paysapi
$assign_to_config['pay_token']				= 'test';   // token in paysapi

// Pay method. 1 for alipay, 2 for wechat pay
// Two methods are enabled by default
// To disable one of the methods, delete the corresponding number in the array below

$assign_to_config['pay_method']				= array(1, 2);

// Options below are dynamic options. These are default values

$assign_to_config['language']				= 'chinese';

$assign_to_config['allow_message']			= true;

$assign_to_config['allow_custom_test']		= true;

$assign_to_config['allow_add_problem']		= true;

$assign_to_config['allow_download_first_wrong'] = true;

$assign_to_config['disable_new_user']		= true;

$assign_to_config['mail_method']			= false; // false, 'smtp' or 'sendgrid'
$assign_to_config['admin_email']			= 'noreply@foj.net';
$assign_to_config['admin_email_name']		= 'FOJ Admin';

$assign_to_config['estimate_score']			= true;

$assign_to_config['solution_upload_priviledge'] = true;

$assign_to_config['payment_auto_finish']	= true;

$assign_to_config['expire_notify_day_num']	= 7;

$assign_to_config['enable_payment']			= false;

// $db is loaded in application/config/database.php

$db['default']['database']					= '{{db_name}}'; // in overriding_config/local.php

// End of File : overriding_config/local.php
