<?php  if (!isset($assign_to_config) && !isset($db)) exit('No direct script access allowed');

// Here are the configurations that vary from each OJ

// $assign_to_config is loaded in index.php

$assign_to_config['oj_title']				= 'Fortuna Online Judge System';

$assign_to_config['base_url']				= 'http://localhost/{{oj_name}}';

$assign_to_config['sess_cookie_name']		= 'foj_ci_session';

$assign_to_config['cookie_path']			= "{{oj_name}}";

$assign_to_config['data_path']				= "/home/judge/data/{{oj_name}}/data/";
$assign_to_config['code_path']				= "/home/judge/data/{{oj_name}}/code/";
$assign_to_config['solution_path']			= "/home/judge/data/{{oj_name}}/solution/";
$assign_to_config['problem_path']			= "/home/judge/data/{{oj_name}}/problem/";

$assign_to_config['servers']				= array('http://127.0.0.1:8389');

$assign_to_config['oj_name']				= "{{oj_name}}";

$assign_to_config['fetch_contest_list']		= true;

$assign_to_config['show_copyright']			= true;

$assign_to_config['miitbeian']				= '';

// Options below are dynamic options. These are default values

$assign_to_config['language']				= 'chinese';

$assign_to_config['allow_message']			= true;

$assign_to_config['allow_custom_test']		= true;

$assign_to_config['allow_add_problem']		= true;

$assign_to_config['allow_download_first_wrong'] = true;

$assign_to_config['disable_new_user']		= true;

$assign_to_config['mail_method']			= false; // false, 'smtp' or 'sendgrid'
$assign_to_config['admin_email']			= 'noreply@jzoj.net';
$assign_to_config['admin_email_name']		= 'JZOJ Admin';

$assign_to_config['estimate_score']			= true;

// $db is loaded in application/config/database.php

$db['default']['database']					= '{{db_name}}'; // in overriding_config/local.php

// End of File : overriding_config/local.php
