<?php  if (!isset($assign_to_config) && !isset($db)) exit('No direct script access allowed');

// Here are the secret configurations such as passwords
// Please use gen_secret.py to generate secret.php

// $assign_to_config is loaded in index.php

$assign_to_config['encryption_key']			= '{{random}}';

$assign_to_config['proxy_ips']				= '127.0.0.1';

$assign_to_config['password_suffix']		= '{{random}}';

$assign_to_config['sendgrid_api_user']		= '[please set SendGrid user if using sendgrid]';
$assign_to_config['sendgrid_api_key']		= '[please set SendGrid key is using sendgrid]';

$assign_to_config['local_passwd']			= '{{random}}';

// $db is loaded in application/config/database.php

$db['default']['username'] = '{{database user}}';
$db['default']['password'] = '{{database password}}';

// End of File : overriding_config/secret.php
