server {
	listen 80;
	listen [::]:80;
	
	root /var/www;
	index index.html index.php;
	
	location ~* \.(ico|css|js|gif|jpe?g|png)(\?[0-9]+)?$ {
		expires max;
		log_not_found off;
	}

	location / {
		if ($request_uri = "/") {
			return 301 /{{oj_name}};
		}
		return 403;
	}
	
	location /{{oj_name}} {
		try_files $uri $uri/ /{{oj_name}}/index.php;
	}
	
	location ~* \.php$ {
		fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
		include fastcgi.conf;
	}
}
